.product-card {
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    padding: 1rem;
    height: 570px;
    width: 430px;
    align-content: center;
    text-align: center;
  }
  
  .tag {
    border-radius: 50px;
    background-color: rgb(68, 69, 119);
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  
  .image {
    height: 300px;
  }
  
  img,
  h2,
  p,
  button {
    margin: 0.5rem 0rem;
  }
  
  button {
    background-color: rgb(169, 169, 223);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }